.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(1px);
  z-index: 999;
}

.con {
  background: white;
  padding: var(--fs32);
  border-radius: var(--fs8);
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.title {
  font-size: var(--fs24);
  margin-bottom: var(--fs32);
}

.button {
  display: flex;
  justify-content: center;
  gap: var(--fs16);
}

.cancelBtn,
.okBtn {
  padding: var(--fs8) var(--fs16);
  border: none;
  border-radius: var(--fs4);
  cursor: pointer;
}

.cancelBtn {
  background-color: #ccc;
  color: #333;
}

.okBtn {
  background-color: #2ecc71;
  color: white;
}

@media (max-width: 600px) {
  .con {
    padding: var(--fs24);
  }

  .title {
    font-size: var(--fs18);
    margin-bottom: var(--fs24);
  }

  .cancelBtn,
  .okBtn {
    font-size: var(--fs12);
    padding: var(--fs4) var(--fs16);
  }
}
