.app {
  max-width: 1200px;
  width: calc(100% - 4rem);
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 2fr;
  gap: var(--fs48);
  padding: var(--fs32);
}

.title {
  font-size: var(--fs36);
  font-weight: bold;
  grid-column: 1 / 3;
  text-align: center;
}
